<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>928873266433-2l013p4ljk4l9upbdtkj1d8pmm18sein.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.928873266433-2l013p4ljk4l9upbdtkj1d8pmm18sein</string>
	<key>API_KEY</key>
	<string>AIzaSyASsEU94fmreDPQER0E_s6Vrn5AP8R5DmY</string>
	<key>GCM_SENDER_ID</key>
	<string>928873266433</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>edg-ceron-hotmail.com</string>
	<key>PROJECT_ID</key>
	<string>tripp-app-flutter</string>
	<key>STORAGE_BUCKET</key>
	<string>tripp-app-flutter.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:928873266433:ios:2bb8deceb4848e95246f00</string>
	<key>DATABASE_URL</key>
	<string>https://tripp-app-flutter.firebaseio.com</string>
</dict>
</plist>